body {
  background-color: #333;
}

.invoice {
  width: 80%;
  margin: auto;
  border: 1px solid #555;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #222;
  color: #eee;
}

.invoice-header,
.invoice-body,
.invoice-footer {
  margin-bottom: 20px;
}

.invoice-header input,
.invoice-footer input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #333;
  border: 1px solid #444;
  color: #eee;
}

.invoice-body table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-body table,
.invoice-body th,
.invoice-body td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
  color: #eee;
}

.total-payment {
  color: #f00;
  font-size: 1.5em;
}

.btn {
  padding: 10px;
  background-color: #393;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-danger {
  background-color: #900;
}
